<div class="page-controls">
  <div class="buttons">
    <DButton
      @action={{action "toggleShowPages"}}
      @label="admin.landing_pages.page.label"
      @title="admin.landing_pages.page.description"
      @icon="file"
      class="pages"
    />

    <DButton
      @action={{action "toggleShowGlobal"}}
      @label="admin.landing_pages.global.label"
      @title="admin.landing_pages.global.description"
      @icon="globe"
      class="global"
    />
  </div>

  <div class="buttons">
    {{#if pullingFromRemote}}
      {{loading-spinner size="small"}}
    {{else if showCommitsBehind}}
      {{i18n
        "admin.landing_pages.remote.repository.x_commits_behind"
        count=commitsBehind
      }}
    {{/if}}

    <DButton
      @action={{action "pullFromRemote"}}
      @label="admin.landing_pages.remote.pull.label"
      @title="admin.landing_pages.remote.pull.description"
      @icon="arrow-down"
      class="pull"
      @disabled={{pullDisabled}}
    />

    <DButton
      @action={{action "updateRemote"}}
      @title="admin.landing_pages.remote.repository.description"
      @label="admin.landing_pages.remote.repository.label"
      @icon="book"
      class="remote"
    />

    <DButton
      @action={{action "importPages"}}
      @label="admin.landing_pages.import.button"
      @title="admin.landing_pages.import.description"
      @icon="download"
      class="import"
    />
  </div>
</div>

<div class="page-message {{messages.status}}">
  {{#if hasMessages}}
    <div class="messages">
      {{#each messages.items as |item|}}
        <div class="message-block">
          {{d-icon item.icon}}
          <span>{{item.text}}</span>
        </div>
      {{/each}}
    </div>
  {{/if}}

  <div class="message-block">
    {{d-icon "question-circle"}}

    <a href={{documentationUrl}} target="_blank">
      {{i18n "admin.landing_pages.documentation"}}
    </a>
  </div>
</div>

{{#if showGlobal}}
  <GlobalAdmin @global={{global}} />
{{else if showPages}}
  <PageAdmin
    @pages={{pages}}
    @themes={{themes}}
    @groups={{groups}}
    @menus={{menus}}
    @updatePages={{action "updatePages"}}
  />
{{/if}}