<div style="width: 100%; background-color: #f1f1f1; display: flex;flex-direction: column; align-items: center;">
  <div style="width: 100%; max-width: 500px; padding: 1em; background-color: #ffffff;">
    <div style="background-image: url(<%= post.topic.image_url %>); height: 250px; width: 100%;"></div>
    <div>
      <h1 title="<%= post.topic.title %>" style="text-align: center;"><%= post.topic.title %></h1>
      <section style="display: flex; justify-content: center; align-items: center; width: 100%;">
        <a href="/u/<%= post.user.username %>" title="<%= post.user.readable_name %>" style="display: flex; justify-content: center;">
          <img width="30" height="30" src="<%= post.user.avatar_template.gsub('{size}', "60") %>" style="border-radius: 50%;">
          <div style="margin-left: .5em;"><%= post.user.readable_name %></div>
        </a>
      </section>
    </div>
    <div>
      <%= PrettyText.format_for_email(::LandingPages::Post.html(post), post).html_safe %>
    </div>
    <div style="margin-top: 1em; text-align: center;">
      <a href="<%= post.topic.landing_page_url %>" title="<%= t("landing_pages.subscription.read_more") %>">
        <%= t("landing_pages.subscription.read_more") %>
      </a>
    </div>
  </div>
  <div>%{unsubscribe_instructions}</div>
</div>

<div itemscope itemtype="http://schema.org/EmailMessage" style="display:none">
  <div itemprop="action" itemscope itemtype="http://schema.org/ViewAction">
    <link itemprop="url" href="<%= Discourse.base_url %><%= post.topic.landing_page_url %>" />
    <meta itemprop="name" content="<%= t 'read_full_topic' %>"/>
  </div>
</div>
