<div class="page-header">
  <div class="page-name">
    <span>{{i18n "admin.landing_pages.global.label"}}</span>
  </div>

  <div class="buttons">
    {{#if this.resultIcon}}
      {{d-icon this.resultIcon}}
    {{/if}}

    {{conditional-loading-spinner condition=this.updatingGlobal size="small"}}

    {{d-button
      action=(action "destroyGlobal")
      label="admin.landing_pages.destroy"
      disabled=this.updatingGlobal
      icon="xmark"
    }}

    {{d-button
      action=(action "saveGlobal")
      label="admin.landing_pages.save"
      class="btn-primary"
      disabled=this.updatingGlobal
      icon="floppy-disk"
    }}
  </div>
</div>

<div class="page-global">
  <div class="control-group">
    <label class="control-label">
      {{i18n "admin.landing_pages.global.scripts.label"}}
    </label>

    {{value-list values=this.scripts inputType="array"}}

    <div class="control-instructions">
      {{{i18n "admin.landing_pages.global.scripts.description"}}}
    </div>
  </div>

  <div class="control-group global-editor">
    <label class="control-label">
      {{i18n "admin.landing_pages.global.header.label"}}
    </label>

    <div class="control-instructions">
      {{{i18n "admin.landing_pages.global.header.description"}}}
    </div>

    <JsonEditor @content={{this.jsonHeader}} />
    {{#if this.jsonHeaderError}}
      <span class="validation-error">
        {{d-icon "xmark"}}
        {{i18n
          "admin.landing_pages.global.header.error"
          error=this.jsonHeaderError
        }}
      </span>
    {{/if}}
  </div>

  <div class="control-group global-editor">
    <label class="control-label">
      {{i18n "admin.landing_pages.global.footer.label"}}
    </label>

    <div class="control-instructions">
      {{{i18n "admin.landing_pages.global.footer.description"}}}
    </div>

    <JsonEditor @content={{this.jsonFooter}} />
    {{#if this.jsonFooterError}}
      <span class="validation-error">
        {{d-icon "xmark"}}
        {{i18n
          "admin.landing_pages.global.footer.error"
          error=this.jsonFooterError
        }}
      </span>
    {{/if}}
  </div>
</div>