<header class="landing-header">
  <div class="contents">
    <div class="primary">
      <div class="header-title">
        <a href="<%= path local_assigns[:root] || "/" %>">
          <%- if application_logo_url.present? %>
            <img src="<%= application_logo_url %>" alt="<%= SiteSetting.title %>" id="site-logo">
          <%- else %>
            <h2 id='site-text-logo'><%= SiteSetting.title %></h2>
          <%- end %>
        </a>
      </div>
      <% unless mobile_view? %>
        <%= render partial: "menu" %>
      <% end %>
    </div>
    <div class="panel">
      <span class='header-buttons'>
        <% if mobile_view? %>
          <a class="mobile-toggle">
            <%= SvgSprite.raw_svg('bars') %>
          </a>
        <% else %>
          <a href="<%= path "/login"%>">
            <%= I18n.t('log_in') %>
          </a>
        <% end %>
      </span>
    </div>
  </div>
</header>

<% if mobile_view? %>
  <%= render partial: "menu" %>
<% end %>