<header class="landing-header">
  <div class="contents">
    <div class="primary">
      <div class="header-title">
        <a href="<%= path local_assigns[:root] || "/" %>">
          <%- if application_logo_url.present? %>
            <img src="<%= application_logo_url %>" alt="<%= SiteSetting.title %>" id="site-logo">
          <%- else %>
            <h2 id='site-text-logo'><%= SiteSetting.title %></h2>
          <%- end %>
        </a>
      </div>
      <% unless mobile_view? %>
        <%- if @menu.present? %>
          <%= render partial: "menu" %>
        <%- end %>
      <% end %>
    </div>
    <div class="panel">
      <span class='header-buttons'>
        <% if mobile_view? %>
          <a class="mobile-toggle">
            <%= SvgSprite.raw_svg('bars') %>
          </a>
        <% else %>
          <%- if current_user %>
            <a href="<%= path "/"%>" class='btn btn-primary forum-button'>
              <%= I18n.t('landing_pages.go_to_forum') %>
            </a>
          <% else %>
            <a href="<%= path "/login"%>" class='btn btn-primary login-button'>
              <%= I18n.t('log_in') %>
            </a>
          <%- end %>
        <% end %>
      </span>
    </div>
  </div>
</header>

<% if mobile_view? %>
  <%- if @menu.present? %>
    <div class="mobile-header">
      <%= render partial: "menu" %>
    </div>
  <%- end %>
<% end %>