<ul class="menu">
  <% @menu.items.each do |item| %>
    <li class="primary-item">
      <a href="<%= item[:href] %>" class="primary-item-link">
        <label><%= item[:label] %></label>
        <%- unless mobile_view? %>
          <%- if item[:items] %>
            <span class="down"><%= SvgSprite.raw_svg('angle-down') %></span>
            <span class="up"><%= SvgSprite.raw_svg('angle-up') %></span>
          <%- end %>
        <%- end %>
      </a>
      <%- if item[:items] %>
        <div class="menu-dropdown <%= 'has-description' if item[:description] %>">
          <%- if item[:description] %>
            <div class="primary-description">
              <%- if item[:href] %>
                <a href="<%= item[:href] %>">
                  <span>
                    <%= item[:description] %>
                    <span class="more">Learn more <%= SvgSprite.raw_svg('angle-right') %></span>
                  </span>
                </a>
              <%- else %>
                <span><%= item[:description] %></span>
              <%- end %>
            </div>
          <%- end %>
          <ul class="menu-item-list">
            <% item[:items].each do |item| %>
              <li class="item <%= 'coming-soon' if item[:coming_soon] %>">
                <a href="<%= item[:href] unless item[:coming_soon] %>" class="<%= item[:label].parameterize %>">
                  <div class="content">
                    <div class="image <%= item[:label].parameterize %>"></div>
                    <div class="right">
                      <div class="label"><%= item[:label] %></div>
                      <%- if item[:coming_soon] %>
                        <div class="coming-soon">in the works</div>
                      <%- end %>
                      <%- if item[:description] %>
                        <div class="description"><%= item[:description] %></div>
                      <%- end %>
                    </div>
                    <%- if item[:items] %>
                      <ul class="item-list">
                        <% item[:items].each do |item| %>
                          <a href="<%= item[:href] %>" class="<%= item[:label].dasherize.downcase %>">
                            <div class="label"><%= item[:label] %></div>
                          </a>
                        <% end %>
                      </ul>
                    <%- end %>
                  </div>
                </a>
              </li>
            <% end %>
          </ul>
        </div>
      <%- end %>
    </li>
  <% end %>
</ul>