<section class="topic-byline">
  <div class="author">
    <%= user_profile(local_assigns[:topic].user, **local_assigns[:user_profile_opts]) %>
  </div>
  <div class="bull">•</div>
  <div class="date" title="<%= short_date(local_assigns[:topic].created_at) %>">
    <%= short_date(local_assigns[:topic].created_at) %>
  </div>
  <% if local_assigns[:include_link] %>
    <div class="bull">•</div>
    <a class="link" href="<%= local_assigns[:topic].url %>" target="_blank">
      <i><%= SvgSprite.raw_svg('far-comments') %></i>
      <span><%= t('landing_pages.topic_byline.link') %></span>
    </a>
  <% end %>
</section>